*.md
**/*.md

{{ if ne .chezmoi.os "windows" }}
Documents
Documents/**
{{ end }}
{{ if eq .chezmoi.os "windows" }}
.bashrc
.bash_aliases
.bash_profile
.bash_login
.profile
.config/fish
.config/fish/**
{{ end }}
