[Desktop Entry]
Name=Antigravity IDE
Comment=Antigravity IDE

Exec={{ .chezmoi.homeDir }}/.config/scripts/withproxy antigravity-ide %F

Icon=/usr/share/antigravity-ide/antigravity-ide.png
Terminal=false
Type=Application
Categories=Development;IDE;TextEditor;
StartupWMClass=antigravity-ide
