[Desktop Entry]
Categories=AudioVideo;Audio;Music;
Comment=Zuno - a desktop music client
Exec={{ .chezmoi.homeDir }}/.config/scripts/withproxy zuno %U
StartupWMClass=zuno
Icon=zuno
Name=Zuno
Terminal=false
Type=Application
